name: Docker Image CI

on:
  push:
    branches:
      - main
    paths:
      - 'entrypoint.sh'
      - Dockerfile
      - '.github/workflows/dockerimage.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'entrypoint.sh'
      - Dockerfile
      - '.github/workflows/dockerimage.yml'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag clang-format-action:$(date +%s)
